@model Bakery.Models.SpongeCake

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpongeCake</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpongeCakeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpongeCakeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpongeCakeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
