@model Bakery.Models.Shape

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shape</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShapeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShapeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShapeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
