@model IEnumerable<Bakery.Models.FinishedOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetail.OrderDetailsID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDetail.OrderDetailsID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FinishedOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FinishedOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FinishedOrderID })
        </td>
    </tr>
}

</table>
